KERNEL=="eth*", ACTION=="add", RUN+="/mnt/onboard/.adds/bookshift/launcher.sh"
KERNEL=="wlan*", ACTION=="add", RUN+="/mnt/onboard/.adds/bookshift/launcher.sh"
